.input-geral {
    color: #888888;
    opacity: 1;
    font-size: 12px;
    width: 340px;  
  }
  
  .input {
    height: 30px;
    width: 100%;
  }
  
  @media (max-width: 900px) {
    .input-geral {
      width: 100%;
    }
  }